body {
    margin: 0px;
    height: 100vh;

    font-family: 'Inter', sans-serif;

    animation: pagecrossfade 1s;
    -webkit-transition-timing-function: ease-in-out;
        transition-timing-function: ease-in-out;
}
h1 {
    font-family: 'Six Caps', sans-serif;
    font-size: 115px;
    font-weight: normal;
    line-height: 100%;
    margin: 0px;
}
h2 {
    text-transform: uppercase;
    font-size: 16px;
}
p {
    font-size: 16px;
}
a {
    color: black;
    text-decoration: none;
}
a:hover {
    color: black;
    opacity: 80%;
}
img {
    margin-bottom: 50px;
    width: 100%;
}
.s-img {
    width: 30%;
}
.m-img {
    width: 47.5%;
}
.l-img {
    width: 100%;
}

#nav {
    padding: 12px calc(100% * (1 / 12));

    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;

    text-transform: uppercase;
}
#nav p {
    font-size: 14px;
}
#nav-name {
    text-align: center;    
}
#back {
    padding: 0 calc(100% * (1 / 12));

    overflow: auto;
    display: block;
}
#back * {
    float: left;
}
#back a {
    display: flex;
    flex-direction: row;
    align-items: center;
}
#back p {
    text-transform: uppercase;
    font-size: 14px;
}
#banner-block {
    padding-top: 50px;
    padding-bottom: 80px;
    padding-left: calc(100% * (1 / 12));
    padding-right: calc(100% * (1 / 12));

    display: inline-flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
}
#banner-block a {
    text-decoration: underline;
}
#banner-text {
    width: 60%;
    padding: 0px;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}
#short {
    padding: 0px;

    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 112px;

    text-align: center;
}
.case-study {
    padding: 100px calc(100% * (1 / 12));

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 100px;

    background-color: white;
    color: black;
}
.case-study a {
    text-decoration: underline;
}
.text-row {
    display: flex;
    align-items: flex-start;
}
.text-row * {
    width: 50%;
}
.gallery {
    padding: 100px calc(100% * (1 / 12));

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 50px;

    background-color: #F1F1F1;
}
#footer {
    padding-top: 125px;
    padding-bottom: 30px;
    padding-left: calc(100% * (1 / 12));
    padding-right: calc(100% * (1 / 12));

    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
}

