body {
    margin: 0px;
    height: 100vh;

    font-family: 'Inter', sans-serif;

    animation: pagecrossfade 1s;
    -webkit-transition-timing-function: ease-in-out;
        transition-timing-function: ease-in-out;
}
h1 {
    font-family: 'Six Caps', sans-serif;
    font-size: 115px;
    font-weight: normal;
    line-height: 100%;
    margin: 0px;
    text-transform: uppercase;
}
h2 {
    text-transform: uppercase;
    font-size: 16px;
    font-weight: normal;
}
p {
    font-size: 16px;
}
a {
    color: black;
    text-decoration: none;
}
a:hover {
    color: black;
    opacity: 50%;
}
img {
    width: 100%;
}
.s-img {
    width: 30%;
}
.m-img {
    width: 47.5%;
}
.m-img img {
    margin-bottom: 10px;
}
.l-img {
    width: 100%;
}

#nav {
    padding: 12px calc(100% * (1 / 12));

    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;

    text-transform: uppercase;
}
#nav p {
    font-size: 14px;
}
#nav-name {
    text-align: center;    
}
#back {
    padding: 0 calc(100% * (1 / 12));

    overflow: auto;
    display: block;
}
#back * {
    float: left;
}
#back a {
    display: flex;
    flex-direction: row;
    align-items: center;
}
#back p {
    text-transform: uppercase;
    font-size: 14px;
}
#banner-block {
    padding-top: 50px;
    padding-bottom: 80px;
    padding-left: calc(100% * (1 / 12));
    padding-right: calc(100% * (1 / 12));

    display: inline-flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
}
#banner-block a {
    text-decoration: underline;
}
#banner-text {
    width: 60%;
    padding: 0px;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}
#short {
    padding: 0px;

    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 100px;

    text-align: center;
}
.text-block {
    padding: 100px calc(100% * (1 / 12));

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 100px;

    background-color: white;
    color: black;
}
.text-block a {
    text-decoration: underline;
}
.text-row {
    display: flex;
    align-items: flex-start;
}
.text-row * {
    width: 50%;
}
.text-row ul {
    width: 100%;
}
.text-row li {
    width: 100%;
}
.gallery {
    padding: 100px calc(100% * (1 / 12));

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;

    background-color: #F1F1F1;
}
#redirect-block {
    padding: 100px calc(100% * (1 / 12));

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;

    text-transform: uppercase;
}
#redirect-block img {
    margin-bottom: 0px;
    width: 56px;
}
.redirect {
    width: 50%;
}
.redirect p {
    font-size: 14px;
}
#footer {
    padding-top: 100px;
    padding-bottom: 30px;
    padding-left: calc(100% * (1 / 12));
    padding-right: calc(100% * (1 / 12));

    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;

    text-transform: uppercase;
}
#footer p {
    font-size: 14px;
}

@keyframe pagecrossfade {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
@-webkit-keyframes pagecrossfade {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@media only screen and (max-width: 1024px) {
    .s-img {
        width: 47.5%;
    }
    .m-img {
        width: 100%;
    }

    #banner-text {
        width: 100%;
    }
    #short {
        gap: 50px;
    }
    .text-block {
        padding-top: 60px;
        padding-bottom: 60px;
        gap: 50px;
    }
    .text-row {
        flex-direction: column;
    }
    .text-row * {
        width: 100%;
    }
    .gallery {
        padding-top: 50px;
        padding-bottom: 50px;
        gap: 50px;
    }
    #redirect-block {
        padding-top: 50px;
        padding-bottom: 50px;
    }
    #footer {
        padding-top: 50px;
    }

    #nav-location {
        display: none;
    }
    #nav-name {
        text-align: left;    
    }
    .desktop-footer {
        display: none;
    }
}

@media only screen and (max-width: 767px) {
    .s-img {
        width: 100%;
    }
    .m-img {
        width: 100%;
    }
}